on:
  push:
    tags:
    - 'v[0-9]+.[0-9]+.[0-9]+'

name: release

jobs:
  build:
    name: release

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Get version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/v}

      - name: Install dependencies
        run: sudo apt-get install -y libsqlite3-dev

      - name: Build and test
        run: |
          cargo test --verbose
          cargo clippy --verbose --all-features -- -D warnings
          cargo build --verbose --release

      - name: Build Debian package
        run: |
          cargo install cargo-deb
          cargo deb

      - name: Create Github release
        id: make_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: true
          prerelease: false

      - name: Upload assets to Github
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PROJECT_NAME: aocf
        with:
          upload_url: ${{ steps.make_release.outputs.upload_url }}
          asset_content_type: application/vnd.debian.binary-package
          asset_path: target/debian/${PROJECT_NAME}_${{ steps.get_version.outputs.VERSION }}_amd64.deb
          asset_name: ${PROJECT_NAME}_${{ steps.get_version.outputs.VERSION }}_amd64.deb

      - name: Publish to crates.io
        env:
          CRATES_IO_TOKEN: ${{ secrets.CRATES_IO_TOKEN }}
        run: |
          cargo login ${CRATES_IO_TOKEN}
          cargo publish
